body {
  background-image: url("/18sep2024/images/bg_image.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  padding: 0px 50px;
  font-size: large;
}

h1 {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 50px;
  font-weight: bold;
}

.cards {
  display: flex;
  max-width: fit-content;
  margin: 0 auto;
  gap: 20px;
}

.card {
  width: 300px;
  height: 450px;
  padding: 25px;
  border: 2px solid black;
  border-radius: 15px;
  background-size: cover;
  background-position: center;
}

.card h3 {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 35px;
  font-weight: bold;
}

.card p {
  color: white;
  text-shadow: 2px 2px 5px black;
  font-size: 17.5px;
  font-weight: bold;
}

.card:hover {
  transform: scale(1.1);
  transition: 500ms;
  box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.5);
  border: 2px solid white;
  border-radius: 25px;
}

.cards:hover > .card:not(:hover) {
  transform: scale(0.9);
  filter: blur(4px) brightness(0.4);
  transition: 0.5s;
}