.title {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 150px;
}

.main_table{
    border: 2px solid lime;
    border-collapse:collapse;
    width: 98%;
    margin: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
}

.main_table th, .main_table td {
    padding: 15px;
    height: 10px;
    border: 2px solid #88bb66;
}


.table_header > th {
    font-family: sans-serif;
    font-weight:lighter;
    color: #FFFFFF;
    background-color: #26860B;
    text-align: left;
    margin-left: 10px;
    text-align: center;
}

.film_names {
    text-align: left;
    font-weight: 1000;
    font-family: sans-serif;
}

.money {
    text-align: right;
}

.odd {
    background-color: #ffffff;
}

.even {
    background-color: #DFDFDD;
}

.source {
    margin-left: 30px;
    font-family: 'Segoe UI';
    font-size: 0.9em;
    font-style: italic;
    font-weight: 500;
}

.source a {

    text-decoration:underline;
    font-style: italic;
    color: #729764;
}