body{
    overflow-x: hidden;
}

.title {
    text-align: center;
    font-size: 1.6em;
    font-weight: bold;
    color: #000000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: 50px;
}

.main_table{
    border: 2px solid lime;
    border-collapse:collapse;
    width: 98%;
    margin: 20px;
    margin-bottom: 10px;
    text-align: center;
    font-family: sans-serif;
}

tr:hover {
    background-color: lightgreen;
}

.main_table th, .main_table td {
    padding: 15px;
    height: 10px;
    border: 2px solid #88bb66;
}


.table_header > th {
    font-family: sans-serif;
    font-weight:lighter;
    color: #FFFFFF;
    background-color: #26860B;
    text-align: left;
    margin-left: 10px;
    text-align: center;
}

.film_names {
    text-align: left;
    font-weight: 1000;
    font-family: sans-serif;
}

.money {
    text-align: right;
}

.btn{
    position: relative;
    top: 50px;
    left: 46%;
}
.btn > .btn-1{
    height: 60px;
    width: 140px;
    background-color: rgba(0, 0, 0, 0);
    border: 3px solid gray ;
    color: rgb(0, 0, 0);
    border-radius: 15px;
    font-size: 1.5em;
}

.btn > .btn-1:hover{
    color: rgb(255, 255, 255);
    background-color: gray;
    border: 4px solid black;
}

.dropdown{
    position: relative;
    top:75px;
    left: 38%;
    background-color: red;
    border-radius: 10px;
    padding: 10px;
    border: 2px solid black;
    width: fit-content;
    color: white;
    font-weight: bold;
    font-size: 1.3em;
}

body > div.dropdown > ul > li{
    margin: 10px;
}

.dropdown > ul, .dropdown-submenu1, .dropdown-submenu2{
    list-style: none;
    display: flex;
    margin: 10px;
}

.dropdown-item1, .dropdown-item2{
    position: relative;
    width: fit-content;
    border-radius: 10px;
}

.dropdown-submenu1{
    display: none;
    position: relative;
    background-color: blue;
    border-radius: 5px;
    padding: 10px;
}

.dropdown-submenu2{
    display: none;
    position: relative;
    width: fit-content;
    background-color: green;
    border-radius: 5px;
    padding: 10px;
}

.dropdown-item1:hover .dropdown-submenu1{
    display: block;
    top: 0;
    left: 0;
}

.dropdown-item2:active .dropdown-submenu2{
    display: block;
    top: 0;
    left: 0;
}

.links{
    position: relative;
    top: 100px;
    left: 41%;
}

.links > a{
    text-decoration: none;
    color: black;
    font-size: 1.5em;
    margin: 10px;
    font-weight: bolder;
}

.google:link{
    color: palevioletred;
}

.youtube:link{
    color: palevioletred;
}

.facebook:link{
    color: palevioletred;
}

.google:visited{
    color: green;
}

.youtube:visited{
    color: red;
}

.facebook:visited{
    color: blue;
}

.google:hover{
    color: palevioletred;
    font-size: 2em;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}

.youtube:hover{
    color: palevioletred;
    font-size: 2em;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}

.facebook:hover{
    color: palevioletred;
    font-size: 2em;
    background-color: lightblue;
    border-radius: 10px;
    padding: 10px;
}