@keyframes rotate {
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}

@keyframes move {
    0%{transform: translateX(0%,0%);}
    25%{transform: translate(200%,0%);}
    50%{transform: translate(200%,200%);}
    75%{transform: translate(0%,200%);}
    100%{transform: translate(0%,0%);}
}



body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.rainbow-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background:conic-gradient(red,blue  ,green,yellow,purple, orange, red);
    animation: move linear 5s infinite, rotate 5s linear 0s infinite;
}

.rainbow-circle:hover