@keyframes move-rotate {
    0% {
        transform: translate(0%, 0%) rotate(0deg) scale(1);
    }
    25% {
        transform: translate(200%, 50%) rotate(-90deg) scale(2);
    }
    50% {
        transform: translate(200%, 200%) rotate(-180deg) scale(1);
    }
    75% {
        transform: translate(50%, 200%) rotate(-270deg)  scale(2);
    }
    100% {
        transform: translate(0%, 0%) rotate(-360deg) scale(1);
    }
}



body{
    margin: 0px;
    padding: 0px;
    background-color: black;
}

.rainbow-circle{
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background:conic-gradient(red,blue  ,green,yellow,purple, orange, red);
    animation: move-rotate 5s linear infinite;
}